#question {
    text-align: center;
    width: 75%;
    border: 10px solid green;
    padding: 50px;
    margin: 20px;
}

#top-scorers {
    padding: 10px;
    background-color: rgb(156, 211, 213);
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
  }

  th, td {
    padding: 15px;
    text-align: left;
  }

  #greetings {
    margin: 20px;
    padding: 10 px;
    display: none;
  }

  .choices {
    padding: 15px;
    border: 5px solid rgb(71, 190, 102);
    background-color: rgb(71, 190, 102);
  }

  #scoring {
    text-align: center;
    padding: 15px;
  }

  #timer {
    position: absolute;
    top: 5px;
    right: 30px;
    width: 100px;
    text-align: center;
    font-size: 32px;
  }
